<div class="about-container">

  <h1>ABOUT IRLocal</h1>


  <p class = 'intro-para'>In an era of monopolies, price comparison, and online shopping, it can be hard to shop local. But the artisinal world is making a comeback - it's time to re-discover your high street and support your neighbors. </p>

  <p>IRLocal was created to help astute shoppers put local first with a platform that allows you to search for shops, brands and categories of goods sold near you. The search will only return businesses that are locally-owned and community-based.</p>

</div>
