<h1>IRLocal</h1>
<p>Back to Basics</p>

<%= form_tag pages_result_path, :method => 'get', :class => 'home_search' do %>
  <%= label :query, "Search for:" %>
  <%= search_field_tag :query %>
  <%= submit_tag "Search"%>
<% end %>
