@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Montserrat&display=swap');

body {
  text-align: center;
  font-family:'Montserrat', sans-serif;
  color: #333232;
}

body::after {
  background: url(/assets/Background.jpeg);
  background-size: cover;
  background-position: center;
  content: "";
  opacity: 0.8;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  width:100vw;
  height: 100vh;
}

.container {
  background-color: #ffffffd1;
  width: 850px;
  min-height: 1000px;
}

#web_title {
  font-family: 'Londrina Solid', cursive;
  font-size: 65px;
  padding-top: 40px;
}

.subtitle {
  /* font-style: italic; */
}

.nav_div {
  background-color: #eae5e5;
  padding: 5px;
  border-style: double;
  border-top: 0.5px;
  border-bottom: 0.5px;
}

nav a {
  padding: 10px;
}

#home_intro {
  padding: 35px 80px;
  text-align: justify;
}

.form_input {
float: right;
margin-left: 20px;
border-width: 1px;
}

.text_area {
width: 145px;
}

.form table {
  margin: 0 auto;
}

.submit {
  text-align: center;
  margin: 15px;
}

.heading.shop {
  text-align: center;
}

.index {
  display: block;
}

.home_logo {
  width: 75px;
  vertical-align: middle;
  margin-right: 20px;
}

.main_nav {
  display: inline-block;
  vertical-align: middle;
}

.header {
    text-align: center;
    margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333232;
}

a:hover {
  color: white;
  text-decoration: none;
}

#map {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.home_search {
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.form-inline {
  margin: 0 auto;
}

.form-control {
  padding-right:
}

.feature_store {
  display: inline-block;
}


.labels {
  color: green;
  background-color: rgba(76, 175, 80, 0.1);;
  font-size: 11px;
  text-align: center;
  width: 60px;
}

.labels:hover {
  background-color: yellow;
}

.shop.logo {
  width: 50px;
}

.category.feature {
  height: 400px;
}

.brand.feature {
  horizontal-align: middle !important;
}

.dropdown {
  display: inline-block;
}

.btn-secondary {
  color: #333232 !important;
}
