body {
text-align: center;
}

.form_input {
float: right;
margin-left: 20px;
border-width: 1px;
}

.text_area {
width: 145px;
}

.form table {
  margin: 0 auto;
}

.submit {
  text-align: center;
  margin: 15px;
}

.heading.shop {
  text-align: center;
}

.index {
  display: block;
}

.home_logo {
  width: 75px;
  vertical-align: middle;
  margin-right: 20px;
}

.main_nav {
  display: inline-block;
  vertical-align: middle;
}

.header {
    text-align: center;
    margin: 0 auto;
}

a {
  text-decoration: none;
  color: brown;
}

a:hover {
  color: green;
}

#map {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.home_search {
  margin-bottom: 50px;
}
