.form_input {
float: right;
margin-left: 20px;
border-width: 1px;
}

.text_area {
width: 145px;
}

.form table {
  margin: 0 auto;
}

.submit {
  text-align: center;
  margin: 15px;
}

.heading.shop {
  text-align: center;
}

.category {
  display: block;
}
