@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600&display=swap');

body {
  text-align: center;
  font-family: 'Shippori Mincho', serif;
  color: #333232;
  background: url(/assets/Background2.png);
  background-size: cover;
  background-position: center;
}

.container {
  background-color: #ffffffd1;
  width: 850px;
  min-height: 1000px;
}

#web_title {
  font-family: 'Londrina Solid', cursive;
  font-size: 65px;
  padding-top: 40px;
}

.subtitle {
  /* font-style: italic; */
}

.nav_div {
  background-color: #eae5e5;
  padding: 5px;
  border-top: 3px double black;
  border-bottom: 3px double black;
}

nav a {
  padding: 10px;
}

#home_intro {
  padding: 35px 80px;
  text-align: justify;
}

.form_input {
float: right;
margin-left: 20px;
border-width: 1px;
}

.text_area {
width: 145px;
}

.form table {
  margin: 0 auto;
}

.submit {
  text-align: center;
  margin: 15px;
}

.heading.shop {
  text-align: center;
}

.index {
  display: block;
}

.home_logo {
  width: 75px;
  vertical-align: middle;
  margin-right: 20px;
}

.main_nav {
  display: inline-block;
  vertical-align: middle;
}

.header {
    text-align: center;
    margin: 0 auto;
}

a {
  text-decoration: none;
  color: #333232;
  padding: 10px;
}

a:hover {
  color: white;
  text-decoration: none;
}

#map {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.home_search {
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.form-inline {
  margin: 0 auto;
}

.form-inline label {
  padding-right: 10px;
  font-size: 24px;
}

.feature-store {
  display: inline-block;
  height: 200px;
  width: 200px;
}

.feature-store img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 0.3px solid #bbb8b8;
}

.labels {
  color: #6d6969;
  background-color: #fffffffa;
  font-size: 11px;
  text-align: center;
  width: 60px;
}

.shop.logo {
  width: 100px;
}

.brand.logo {
  width: 100px;
}

.category.feature {
  height: 400px;
}

.brand.feature {
  horizontal-align: middle !important;
}

.dropdown {
  display: inline-block;
}

.form-input {
  text-align: right;
}

.cloudinary-fileupload {
  width: 228px;
}

.stores-month {
  margin: 50px;
}

.stores-month.header {
  margin-top: 50px;
}

.index-header {
  margin: 25px 0px;
}

.dropdown-toggle.btn {
  vertical-align: inherit !important;
}

.index-link:hover {
color: #bbb8b8;
}

.form-input {
  width: 350px;
}

h2 {
  margin: 25px 0px;
}

.checkbox-area {
  margin: 5px;
}

.website-link:hover {
  color: #bbb8b8;
}

.shop-tagline {
  font-style: italic;
}

.shop-content {
  margin: 25px 0px;
}

hr {
  margin: 35px 0px;
}
